.header {
	text-align: left;
	background-color: #e0e0eb;
	color: black;
	font-family: Arial;
	border: outset;
	width: 100%;
	min-width: 100px;
	position: fixed;
	top: 0px;
}

.name {
	position: absolute;
	display: inline;
	width: 45%;
	left: 5px;
}
.loginField {
	text-align: right;
	width: 45%;
	position: absolute;
	display: inline;
	right: 20px;
}

.messageList {
	min-height: 200px;
}

.inputField {
	background-color: #efeff5;
	position: fixed;
	width: 100%;
	bottom: 0px;
}

#inputField {
	display: inline;
	margin-left: 25%;
	border-color: black;
	width: 50%;
	margin-top: 10px;
}

span {
	margin-left: 5px;
}

button {
	background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    display: block;
    font-size: 16px;
	border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sendButton {
	display: inline-block;
	margin-left: 25%;
	top: 50px;
	background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.cancellButton {
	display: none;
	margin-right: 25%;
	background-color: white; 
    color: black; 
    border: 2px solid #3333ff;
}

.loggingOptions {
	background-color: #8383af;
	top: 5px;
	position: relative;
	display: inline;
}

.loggingOptions:hover {
	background-color: #a2a2c3;
}

.sendButton:hover {
	background-color: #f44336;
    color: white;
}

.cancellButton:hover {
	background-color: #3333ff;
    color: white;
}

.message {
	cursor: pointer;
	background-color: #efeff5;
	margin-bottom: 5px;
	display: block;
	transition-duration: 0.4s;
}

.message:hover {
	background-color: #d0d0e2;
}

span.user {
	color: #f44336;
}

span.loggedUser {
	color: #ffb84d;
}

.messageMark {
	font-size: 8px;
}

.option {
	margin-left: 5px;
	display: none;
	opacity: 0.5;
	height: 10px;
	width: 10px;
}

.option:hover {
	opacity: 1;
}

.warning {
	opacity: 0.5;
	display: inline;
}